@import "reset";
.card{
    width: 300px;
    border-radius: 8px;
    box-sizing: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    
    &:hover{
        transform: translateY(-10px);
    }
    &-img-top{
        width: 100%;
        height: auto;
        display: block;
    }
    
}